.homeContainer {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    flex-wrap: wrap;
    align-items: center;
}

.weight {
    padding-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formAndRadio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
}

.form {
    padding-top: 1.5em;
}

