.homeContainer {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    flex-direction: column;
    align-items: center;
    /* background-color: #a28089; */

}

.weight {
    padding-top: 4em;
}

